td, th {
  vertical-align: middle;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
  border: none;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.invalid-feedback {
  font-size: 0.85em;
  font-weight: 500;
}